:root {
  --primary: red;
  --secondary: black;
  --neutral: white;
}

* {
  font-family: 'Inter', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  padding: 2rem;
  border: 2px solid;
  border-radius: 1rem;

  gap: 1rem;
}

.container .res {
  color: var(--primary);
}

.container strong {
  color: var(--primary);
}

.container .indent {
  padding-left: .75rem;
}

.container button {
  cursor: pointer;
  
  padding: .25rem .75rem;
  margin-left: .25rem;
  border: 1px solid;
  border-radius: 5px;
  
  background-color: transparent;
}

.container input:hover, 
.container button:hover {
  box-shadow: 0 0 0 1px var(--secondary);
}

.ex1,
.ex2,
.ex3,
.ex4,
.ex5 {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.ex1 p,
.ex2 p {
  margin: 0 0 .5rem .75rem;

  font-size: 14px;
}

/* Exercício 1 */

.ex1 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ex1 input {
  width: 2rem;

  padding: .25rem;
}

.ex1 .res {
  margin-left: .5rem;

  font-size: 14px;
}

/* Exercício 2 */

.ex2 input {
  padding: .25rem;
  margin-top: .25rem;
}

.ex2 span {
  display: block;

  margin: .5rem 0 0 .5rem;
}

/* Exercício 3 */

.ex3 p{
  margin-bottom: 1rem;
}

.ex3 p:last-child {
  margin: 0;
}

.ex3 .res {
  padding: 1px .25rem;
  margin-left: .25rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
}

/* Exercício 4 */

.ex4 ul {
  list-style: none;
}

.ex4 ul li {
  margin-bottom: .25rem;
}

.ex4 ul li:last-child {
  margin: 0;
}

.ex4 .res {
  padding-inline: .25rem;
  border-bottom: 1px solid var(--primary);
}

/* Exercício 5 */

.ex5 p {
  margin-bottom: .5rem;
}

.ex5 p:last-child {
  margin: 0;

  color: var(--primary);
}